[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "highlightHTML"]
	path = highlightHTML
	url = https://github.com/lebebr01/highlighthtml
[submodule "pdfsearch"]
	path = pdfsearch
	url = https://github.com/lebebr01/pdfsearch
[submodule "simglm"]
	path = simglm
	url = https://github.com/lebebr01/simglm
